@import "vars";

.Navbar {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  align-items: center;
  justify-content: space-between;
  background-color: $--night-blue-light;
  gap: 40px;
  padding: 15px 0px;
}
.Navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  gap: 15px;
}
.Navbar ul li:hover {
  cursor: pointer;
}
.avatar {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid white;
}

.ContentLight {
  background-color: white;
  color: $--night-blue;
}
.Content {
  background-color: $--night-blue;
  color: white;
}
.NavbarLight {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(229, 224, 224, 0.564);
  gap: 40px;
  padding: 15px 0px;
}
.NavbarLight ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  gap: 15px;
}
.AvatarToggle {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.toggle{
  cursor: pointer;
}

@media (min-width: 470px) {
  .Navbar {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 12px;
    padding: 20px;
  }
  .Navbar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    gap: 15px;
    margin-bottom: 400px;
    margin-top: 30px;
  }
  .NavbarLight {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 12px;
    padding: 20px;
  }
  .NavbarLight ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    gap: 15px;
    margin-bottom: 400px;
    margin-top: 30px;
  }
  .AvatarToggle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-right: 10px;
  }
}
